[user]
	name = Pedro Fidalgo
	email = 41859298+fidalgodev@users.noreply.github.com
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = "code --wait "
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = "code --wait --diff  "
[pull]
	rebase = false
